.additional__heading {
	position: absolute;

	left: 18px;
	right: 18px;
	top: 30px;

	margin: 0;

	font-size: 27px;
	line-height: 29px;
	font-family: 'Inter-Bold';

	z-index: 84;

	pointer-events: none;
}
