@import url(./places__paragraph/places__paragraph.css);
@import url(./places__paragraph-box/places__paragraph-box.css);
@import url(./places__url-heading/places__url-heading.css);
@import url(./places__url/places__url.css);
@import url(./places__image/places__image.css);
@import url(./places__website-box/places__website-box.css);
@import url(./places__title/places__title.css);
@import url(./places__place/places__place.css);

.places {
	max-width: 984px;
	
	font-family: Inter-Light-BETA;
	color: #ffffff;

	margin-bottom: 102px;
}

.places a:hover {
	opacity: 0.7;
}

@media screen and (max-width: 1281px) {

    .places {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {

    .places {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {

    .places {
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 700px) {

    .places {
		margin-bottom: 64px;
		
		width: 100%;
    }
}
